@model CRUD1.Models.Carro
@{
    ViewData["Title"] = "Excluir";
}

<h2>Excluir Carro</h2>

<div class="row">
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="Marca" class="control-label"></label>
            <input asp-for="Marca" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Ano" class="control-label"></label>
            <input asp-for="Ano" class="form-control" readonly />
        </div>
        <div>
            <form asp-action="Excluir">
                <input type="hidden" asp-for="CarroId" />
                <input type="submit" value="Excluir" class="btn btn-danger">
            </form>
            <a asp-action="Index" class="btn btn-warning">Voltar</a>
        </div>
    </div>

</div>